EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=efootball-app-9d175.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=efootball-app-9d175
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=efootball-app-9d175.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=729242246964
EXPO_PUBLIC_FIREBASE_APP_ID=1:729242246964:web:bdb35a59a681a4a7420f61
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_API_BASE_URL=https://us-central1-efootball-app-9d175.cloudfunctions.net/api
